<nav class="navbar">
    <div class="container">

        <!-- Logo -->
        <div class="pull-left">
            <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

            <div class="logo-wrapper">
                <a class="logo" href="index.html"><img src="assets/img/logo.png" alt="logo"></a>
                <a class="logo-alt" href="index.html"><img src="assets/img/logo-alt.png" alt="logo-alt"></a>
            </div>

        </div>
        <!-- END Logo -->

        <!-- User account -->
        <div class="pull-right">

            <div class="dropdown user-account">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <img src="assets/img/logo-envato.png" alt="avatar">
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="user-login.html">Login</a></li>
                    <li><a href="user-register.html">Register</a></li>
                    <li><a href="user-forget-pass.html">Forget pass</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>

        </div>
        <!-- END User account -->

        <!-- Navigation menu -->
        <ul class="nav-menu">
            <li>
                <a href="index.html">Home</a>
                <ul>
                    <li><a href="index.html">Version 1</a></li>
                    <li><a href="index-2.html">Version 2</a></li>
                </ul>
            </li>
            <li>
                <a class="active" href="#">Position</a>
                <ul>
                    <li><a href="job-list-1.html">Browse jobs - 1</a></li>
                    <li><a href="job-list-2.html">Browse jobs - 2</a></li>
                    <li><a href="job-list-3.html">Browse jobs - 3</a></li>
                    <li><a href="job-detail.html">Job detail</a></li>
                    <li><a href="job-apply.html">Apply for job</a></li>
                    <li><a class="active" href="job-add.html">Post a job</a></li>
                    <li><a href="job-manage.html">Manage jobs</a></li>
                    <li><a href="job-candidates.html">Candidates</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Resume</a>
                <ul>
                    <li><a href="resume-list.html">Browse resumes</a></li>
                    <li><a href="resume-detail.html">Resume detail</a></li>
                    <li><a href="resume-add.html">Create a resume</a></li>
                    <li><a href="resume-manage.html">Manage resumes</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Company</a>
                <ul>
                    <li><a href="company-list.html">Browse companies</a></li>
                    <li><a href="company-detail.html">Company detail</a></li>
                    <li><a href="company-add.html">Create a company</a></li>
                    <li><a href="company-manage.html">Manage companies</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Pages</a>
                <ul>
                    <li><a href="page-blog.html">Blog</a></li>
                    <li><a href="page-post.html">Blog-post</a></li>
                    <li><a href="page-about.html">About</a></li>
                    <li><a href="page-contact.html">Contact</a></li>
                    <li><a href="page-faq.html">FAQ</a></li>
                    <li><a href="page-pricing.html">Pricing</a></li>
                    <li><a href="page-typography.html">Typography</a></li>
                    <li><a href="page-ui-elements.html">UI elements</a></li>
                </ul>
            </li>
        </ul>
        <!-- END Navigation menu -->

    </div>
</nav>
<!-- END Navigation bar -->


<!-- Page header -->
<header class="page-header">
    <div class="container page-name">
        <h1 class="text-center">Add a new job</h1>
        <p class="lead text-center">Create a new vacancy for your company and put it online.</p>
    </div>

    <div class="container">

        <div class="row">
            <div class="form-group col-xs-12 col-sm-6">
                <input type="text" class="form-control input-lg" placeholder="Job title, e.g. Front-end developer">
            </div>

            <div class="form-group col-xs-12 col-sm-6">
                <select class="form-control selectpicker">
                    <option>Select a company</option>
                    <option>Google</option>
                    <option>Microsoft</option>
                    <option>Apple</option>
                    <option>Facebook</option>
                </select>
                <a class="help-block" href="company-add.html">Add new company</a>
            </div>

            <div class="form-group col-xs-12">
                <textarea class="form-control" rows="3" placeholder="Short description"></textarea>
            </div>

            <div class="form-group col-xs-12">
                <input type="text" class="form-control" placeholder="Application URL">
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                    <input type="text" class="form-control" placeholder="Location, e.g. Melon Park, CA">
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-briefcase"></i></span>
                    <select class="form-control selectpicker">
                        <option>Full time</option>
                        <option>Part time</option>
                        <option>Internship</option>
                        <option>Freelance</option>
                        <option>Remote</option>
                    </select>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                    <input type="text" class="form-control" placeholder="Salary">
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                    <input type="text" class="form-control" placeholder="Working hours, e.g. 40">
                    <span class="input-group-addon">hours / week</span>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-flask"></i></span>
                    <input type="text" class="form-control" placeholder="Experience, e.g. 5">
                    <span class="input-group-addon">Years</span>
                </div>
            </div>

            <div class="form-group col-xs-12 col-sm-6 col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon"><i class="fa fa-certificate"></i></span>
                    <select class="form-control selectpicker" multiple>
                        <option>Postdoc</option>
                        <option>Ph.D.</option>
                        <option>Master</option>
                        <option selected>Bachelor</option>
                    </select>
                </div>
            </div>


        </div>

        <div class="button-group">
            <div class="action-buttons">
                <div class="upload-button">
                    <button class="btn btn-block btn-primary">Choose a cover image</button>
                    <input id="cover_img_file" type="file">
                </div>
            </div>
        </div>

    </div>
</header>
<!-- END Page header -->


<!-- Main container -->
<main>


    <!-- Job detail -->
    <section>
        <div class="container">

            <header class="section-header">
                <span>Description</span>
                <h2>Job detail</h2>
                <p>Write about your company, job description, skills required, benefits, etc.</p>
            </header>

            <textarea class="summernote-editor"></textarea>

        </div>
    </section>
    <!-- END Job detail -->


    <!-- Submit -->
    <section class="bg-alt">
        <div class="container">
            <header class="section-header">
                <span>Are you done?</span>
                <h2>Submit Job</h2>
                <p>Please review your information once more and press the below button to put your job online.</p>
            </header>

            <p class="text-center"><button class="btn btn-success btn-xl btn-round">Submit your job</button></p>

        </div>
    </section>
    <!-- END Submit -->


</main>
<!-- END Main container -->


<!-- Site footer -->
<footer class="site-footer">

    <!-- Top section -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">An employment website is a web site that deals specifically with employment or careers. Many employment websites are designed to allow employers to post job requirements for a position to be filled and are commonly known as job boards. Other employment sites offer employer reviews, career and job-search advice, and describe different job descriptions or employers. Through a job website a prospective employee can locate and fill out a job application.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Company</h6>
                <ul class="footer-links">
                    <li><a href="page-about.html">About us</a></li>
                    <li><a href="page-typography.html">How it works</a></li>
                    <li><a href="page-faq.html">Help center</a></li>
                    <li><a href="page-typography.html">Privacy policy</a></li>
                    <li><a href="page-contact.html">Contact us</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Trendeing jobs</h6>
                <ul class="footer-links">
                    <li><a href="job-list.html">Front-end developer</a></li>
                    <li><a href="job-list.html">Android developer</a></li>
                    <li><a href="job-list.html">iOS developer</a></li>
                    <li><a href="job-list.html">Full stack developer</a></li>
                    <li><a href="job-list.html">Project administrator</a></li>
                </ul>
            </div>
        </div>

        <hr>
    </div>
    <!-- END Top section -->

    <!-- Bottom section -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyrights &copy; 2016 All Rights Reserved by <a href="http://themeforest.net/user/shamsoft">ShaMSofT</a>.</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END Bottom section -->

</footer>
<!-- END Site footer -->


<!-- Back to top button -->
<a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
<!-- END Back to top button -->

<!-- Scripts -->
<script src="assets/js/app.min.js"></script>
<script src="assets/vendors/summernote/summernote.min.js"></script>
<script src="assets/js/thejobs.js"></script>
<script src="assets/js/custom.js"></script>
