<div>
    <h2 id="page-heading">
        <span jhiTranslate="jobAngularApp.honorAndReward.home.title">Honor And Rewards</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-honor-and-reward-my-suffix" [routerLink]="['/honor-and-reward-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jobAngularApp.honorAndReward.home.createLabel">
            Create new Honor And Reward
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="honorAndRewards">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jobAngularApp.honorAndReward.title">Title</span></th>
            <th><span jhiTranslate="jobAngularApp.honorAndReward.associatedWith">Associated With</span></th>
            <th><span jhiTranslate="jobAngularApp.honorAndReward.issue">Issue</span></th>
            <th><span jhiTranslate="jobAngularApp.honorAndReward.date">Date</span></th>
            <th><span jhiTranslate="jobAngularApp.honorAndReward.description">Description</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let honorAndReward of honorAndRewards ;trackBy: trackId">
                <td><a [routerLink]="['/honor-and-reward-my-suffix', honorAndReward.id, 'view' ]">{{honorAndReward.id}}</a></td>
                <td>{{honorAndReward.title}}</td>
                <td>{{honorAndReward.associatedWith}}</td>
                <td>{{honorAndReward.issue}}</td>
                <td>{{honorAndReward.date | date:'medium'}}</td>
                <td>{{honorAndReward.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/honor-and-reward-my-suffix', honorAndReward.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/honor-and-reward-my-suffix', honorAndReward.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'honor-and-reward-my-suffix/'+ honorAndReward.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
