<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-publication-my-suffix-heading" jhiTranslate="jobAngularApp.publication.home.createOrEditLabel">Create or edit a Publication</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!publication.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="publication.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobAngularApp.publication.title" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                        [(ngModel)]="publication.title" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobAngularApp.publication.publication" for="field_publication">Publication</label>
                    <input type="text" class="form-control" name="publication" id="field_publication"
                        [(ngModel)]="publication.publication" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobAngularApp.publication.date" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" [(ngModel)]="date"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jobAngularApp.publication.author" for="field_author">Author</label>
                    <input type="text" class="form-control" name="author" id="field_author"
                        [(ngModel)]="publication.author" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
