<div>
    <h2 id="page-heading">
        <span jhiTranslate="jobAngularApp.accomplishment.home.title">Accomplishments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accomplishment-my-suffix" [routerLink]="['/accomplishment-my-suffix/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jobAngularApp.accomplishment.home.createLabel">
            Create new Accomplishment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="accomplishments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jobAngularApp.accomplishment.publication">Publication</span></th>
            <th><span jhiTranslate="jobAngularApp.accomplishment.certification">Certification</span></th>
            <th><span jhiTranslate="jobAngularApp.accomplishment.patent">Patent</span></th>
            <th><span jhiTranslate="jobAngularApp.accomplishment.course">Course</span></th>
            <th><span jhiTranslate="jobAngularApp.accomplishment.project">Project</span></th>
            <th><span jhiTranslate="jobAngularApp.accomplishment.honorAndReward">Honor And Reward</span></th>
            <th><span jhiTranslate="jobAngularApp.accomplishment.testScore">Test Score</span></th>
            <th><span jhiTranslate="jobAngularApp.accomplishment.language">Language</span></th>
            <th><span jhiTranslate="jobAngularApp.accomplishment.organization">Organization</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accomplishment of accomplishments ;trackBy: trackId">
                <td><a [routerLink]="['/accomplishment-my-suffix', accomplishment.id, 'view' ]">{{accomplishment.id}}</a></td>
                <td>{{accomplishment.publication}}</td>
                <td>{{accomplishment.certification}}</td>
                <td>{{accomplishment.patent}}</td>
                <td>{{accomplishment.course}}</td>
                <td>{{accomplishment.project}}</td>
                <td>{{accomplishment.honorAndReward}}</td>
                <td>{{accomplishment.testScore}}</td>
                <td>{{accomplishment.language}}</td>
                <td>{{accomplishment.organization}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/accomplishment-my-suffix', accomplishment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/accomplishment-my-suffix', accomplishment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'accomplishment-my-suffix/'+ accomplishment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
