.pricing {
    list-style: none;
    padding-left: 0;

    li {
        background-color: #fff;
        padding: 30px 20px;
        float: left;
        width: 31%;
        margin-right: 3.5%;
        text-align: center;
        border: 1px solid $color-border;
        transition: 0.3s ease-in-out;

        &:hover {
            box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
        }

        &:nth-child(3n + 3) {
            margin-right: 0;
        }

        h6 {
            font-family: $font-family-body;
            text-transform: uppercase;
            color: $color-subtitle;
            font-weight: bold;
            font-size: 14px;
        }

        .price {
            font-family: $font-family-title;
            font-weight: bold;
            font-size: 75px;
            line-height: 75px;
            color: #000;
            padding: 10px 0;

            span {
                display: block;
                font-family: $font-family-subtitle;
                font-size: 12px;
                font-weight: 400;
                line-height: 25px;
                color: $color-subtitle;
            }

            sup {
                font-size: 28px;
                vertical-align: super;
            }
        }

        hr {
            margin-top: 20px;
            margin-bottom: 30px;
        }

        strong {
            color: $color-gray;
        }
    }

    &.cols-4 li {
        width: 23.5%;
        margin-right: 2%;

        &:nth-child(4n + 4) {
            margin-right: 0;
        }
    }
}

@include media-down(tablet) {
    .pricing {
        margin: 0 auto;
        max-width: 400px;

        li {
            display: block;
            width: 100% !important;
            margin-right: 0 !important;
            margin-bottom: 30px;
        }
    }
}
