/*! CSS Used from: Embedded */

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.svg-inline--fa.fa-fw {
    width: 1.25em;
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

/*! CSS Used from: Embedded */

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    cursor: pointer;
}

/*! CSS Used from: Embedded */

.fa-fw {
    width: 1.28571429em;
    text-align: center;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

/*! CSS Used from: Embedded */

*,
*::before,
*::after {
    box-sizing: border-box;
}

nav {
    display: block;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul ul {
    margin-bottom: 0;
}

a {
    color: #3e8acc;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #286396;
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.15rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover,
.btn:focus {
    text-decoration: none;
}

.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(62, 138, 204, 0.25);
}

.btn:disabled {
    opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-primary {
    color: #fff;
    background-color: #3e8acc;
    border-color: #3e8acc;
}

.btn-primary:hover {
    color: #fff;
    background-color: #3077b4;
    border-color: #2d70aa;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(62, 138, 204, 0.5);
}

.btn-primary:disabled {
    color: #fff;
    background-color: #3e8acc;
    border-color: #3e8acc;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.1rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #3e8acc;
}

.dropdown-item:disabled {
    color: #6c757d;
    background-color: transparent;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/*! CSS Used from: Embedded */

nav {
    display: block;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

img {
    border: 0;
}

@media print {
    *,
    :after,
    :before {
        color: #000 !important;
        text-shadow: none !important;
        background: 0 0 !important;
        box-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: ' (' attr(href) ')';
    }
    a[href^='#']:after {
        content: '';
    }
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    .navbar {
        display: none;
    }
}

*,
:after,
:before {
    box-sizing: border-box;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

img {
    vertical-align: middle;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

ul ul {
    margin-bottom: 0;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:active:focus,
.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:focus,
.btn:hover {
    color: #333;
    text-decoration: none;
}

.btn:active {
    background-image: none;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.btn-primary:active,
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary:active:focus,
.btn-primary:active:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.btn-primary:active {
    background-image: none;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 4px;
    }
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-toggle:focus {
    outline: 0;
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}

.container:after,
.container:before,
.navbar:after,
.navbar:before {
    display: table;
    content: ' ';
}

.container:after,
.navbar:after {
    clear: both;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

[class^='ti-'] {
    font-family: themify;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ti-menu:before {
    content: '\E68E';
}

/*! CSS Used from: Embedded */

.btn {
    height: 44px;
    line-height: 44px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 3px;
    padding: 0 30px;
    color: #fff;
    background-color: #eceeef;
    transition: 0.2s linear;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
    color: #fff;
    background-color: #e4e7e8;
    border-color: transparent;
    box-shadow: none;
    outline: none !important;
}

.btn-primary {
    background-color: #29aafe;
    border-color: #29aafe !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    color: #fff;
    background-color: #38b0fe;
}

.btn-sm {
    height: 36px;
    line-height: 36px;
    padding: 0 20px;
}

::-webkit-input-placeholder {
    color: #bbb !important;
}

::-moz-placeholder {
    color: #bbb !important;
}

:-ms-input-placeholder {
    color: #bbb !important;
}

::selection {
    background: #4db8fe;
    color: #fff;
}

::-moz-selection {
    background: #4db8fe;
    color: #fff;
}

a,
a:focus,
a:hover {
    color: #29aafe;
    text-decoration: none;
    transition: color 0.3s linear;
    outline: 0;
}

ul {
    line-height: 28px;
}

img {
    max-width: 100%;
}

.navbar {
    width: 100%;
    background-color: #fff;
    z-index: 11;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
    transition: top 0s ease-in-out, left 0.2s ease-out, right 0.2s ease-out;
}

.navbar .logo-wrapper {
    display: inline-block;
}

.navbar .logo,
.navbar .logo-alt {
    display: inline-block;
}

.navbar .logo img,
.navbar .logo-alt img {
    height: 60px;
}

.navbar .logo-alt {
    display: none;
}

.navbar ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar ul li:hover > ul {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.navbar-toggle {
    display: none;
    float: left;
    border: 0;
    line-height: 40px;
    padding: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 20px;
    color: #9da7ad;
    font-size: 21px;
}

.nav-menu {
    display: block;
    text-align: center;
}

.nav-menu > li {
    position: relative;
    display: inline-block;
    padding: 0 2px;
}

.nav-menu > li:hover > a {
    color: #29aafe;
}

.nav-menu a {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0 12px;
    line-height: 60px;
    color: #7e8890;
    transition: color 0.2s linear;
}

.nav-menu a:hover,
.nav-menu a:focus,
.nav-menu a.active {
    color: #29aafe;
    text-decoration: none;
}

.nav-menu ul {
    position: absolute;
    top: 120%;
    left: 0;
    z-index: 2;
    background-color: #fff;
    text-align: left;
    padding: 8px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.15);
    transition: opacity 0.4s ease-in-out, top 0.2s ease-in-out;
}

.nav-menu ul::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 30px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}

.nav-menu ul li a {
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    letter-spacing: 1px;
    line-height: 32px;
    padding-top: 3px;
    padding-bottom: 3px;
    white-space: nowrap;
    display: block;
    min-width: 150px;
    font-weight: 500;
    font-size: 13px;
    color: #7e8890;
    border-bottom: 1px solid #f8f9fa;
}

.nav-menu ul li:last-child a {
    border-bottom: 0;
}

.nav-menu ul a.active {
    border-top: none;
}

.user-login {
    line-height: 60px;
    font-size: 13px;
    color: #eee;
}

.user-login a {
    color: #fff;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.user-login a:hover {
    color: #fff;
    opacity: 1;
}

.user-login .btn {
    margin-right: 8px;
    color: #fff;
    opacity: 1;
}

.user-login .btn:hover {
    color: #fff;
}

.nav-on-header .navbar {
    position: absolute;
    margin-top: 20px;
    background-color: transparent;
    box-shadow: none;
}

.nav-on-header .navbar .navbar-toggle,
.nav-on-header .navbar .nav-menu a {
    color: #fff;
    font-weight: 500;
    opacity: 0.6;
    transition: opacity 0.3s ease-in-out;
}

.nav-on-header .navbar .navbar-toggle:hover,
.nav-on-header .navbar .navbar-toggle:focus,
.nav-on-header .navbar .nav-menu a:hover,
.nav-on-header .navbar .nav-menu a:focus,
.nav-on-header .navbar .nav-menu a.active {
    color: #fff;
    opacity: 1;
}

.nav-on-header .navbar .nav-menu ul li a {
    color: #7e8890;
    font-weight: 500;
    opacity: 1;
}

.nav-on-header .navbar .nav-menu ul li a:hover,
.nav-on-header .navbar .nav-menu ul li a:focus,
.nav-on-header .navbar .nav-menu ul li a.active {
    color: #29aafe;
    opacity: 1;
}

.nav-on-header .navbar .nav-menu > li:hover > a {
    color: #fff;
    opacity: 1;
}

.nav-on-header .navbar .logo {
    display: none;
}

.nav-on-header .navbar .logo-alt {
    display: inline-block;
}

@media (max-width: 991px) {
    .navbar .nav-menu {
        position: fixed;
        left: -80%;
        top: 0;
        bottom: 0;
        z-index: 99;
        width: 80%;
        max-width: 300px;
        height: 100%;
        overflow-y: auto;
        background-color: #fff;
        margin-left: 0;
        padding: 24px 16px;
        transition: left 0.5s;
    }
    .navbar .nav-menu a {
        line-height: 50px !important;
    }
    .navbar .nav-menu a.active {
        border-top: 0;
    }
    .navbar .nav-menu > li {
        display: block;
        border-bottom: 1px solid #eceeef;
    }
    .navbar .nav-menu > li:last-child {
        border-bottom: 0;
    }
    .navbar .nav-menu > li > a {
        color: #373a3c !important;
        opacity: 1 !important;
    }
    .navbar .nav-menu > li > a.active {
        color: #29aafe !important;
    }
    .navbar .nav-menu ul {
        visibility: visible;
        opacity: 1;
        position: static;
        border-top: 0;
    }
    .navbar .nav-menu ul li a {
        border-bottom: 0;
        line-height: 40px !important;
    }
    .navbar {
        transition: 0.5s;
    }
    .navbar .nav-menu {
        text-align: left;
    }
    .navbar .nav-menu > li > a {
        font-weight: 600 !important;
    }
    .navbar .nav-menu ul {
        box-shadow: none;
    }
    .navbar .navbar-toggle {
        display: inline-block;
    }
    .nav-on-header .navbar {
        margin-top: 0;
    }
}

@media (max-width: 767px) {
    .navbar .logo img,
    .navbar .logo-alt img {
        height: 40px;
        margin-top: 10px;
    }
    .user-login .btn {
        line-height: 26px;
        height: 28px;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 11px;
    }
}

@media (max-width: 480px) {
    .navbar .container {
        padding-left: 5px;
    }
}
