<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="project">
            <h2><span jhiTranslate="jobAngularApp.project.detail.title">Project</span> {{project.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jobAngularApp.project.name">Name</span></dt>
                <dd>
                    <span>{{project.name}}</span>
                </dd>
                <dt><span jhiTranslate="jobAngularApp.project.startDate">Start Date</span></dt>
                <dd>
                    <span>{{project.startDate}}</span>
                </dd>
                <dt><span jhiTranslate="jobAngularApp.project.endDate">End Date</span></dt>
                <dd>
                    <span>{{project.endDate}}</span>
                </dd>
                <dt><span jhiTranslate="jobAngularApp.project.associatedWith">Associated With</span></dt>
                <dd>
                    <span>{{project.associatedWith}}</span>
                </dd>
                <dt><span jhiTranslate="jobAngularApp.project.projectUrl">Project Url</span></dt>
                <dd>
                    <span>{{project.projectUrl}}</span>
                </dd>
                <dt><span jhiTranslate="jobAngularApp.project.description">Description</span></dt>
                <dd>
                    <span>{{project.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/project-my-suffix', project.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
