<!-- Navigation bar -->
<nav class="navbar">
    <div class="container">

        <!-- Logo -->
        <div class="pull-left">
            <a class="navbar-toggle" href="#" data-toggle="offcanvas"><i class="ti-menu"></i></a>

            <div class="logo-wrapper">
                <a class="logo" href="index.html"><img src="../assets/img/logo.png" alt="logo"></a>
                <a class="logo-alt" href="index.html"><img src="../assets/img/logo-alt.png" alt="logo-alt"></a>
            </div>

        </div>
        <!-- END Logo -->

        <!-- User account -->
        <div class="pull-right user-login">
            <a class="btn btn-sm btn-primary" href="user-login.html">Login</a> or <a href="user-register.html">register</a>
        </div>
        <!-- END User account -->

        <!-- Navigation menu -->
        <ul class="nav-menu">
            <li>
                <a href="index.html">Home</a>
                <ul>
                    <li><a href="index.html">Version 1</a></li>
                    <li><a href="index-2.html">Version 2</a></li>
                </ul>
            </li>
            <li>
                <a class="active" href="#">Position</a>
                <ul>
                    <li><a class="active" href="job-list-1.html">Browse jobs - 1</a></li>
                    <li><a href="job-list-2.html">Browse jobs - 2</a></li>
                    <li><a href="job-list-3.html">Browse jobs - 3</a></li>
                    <li><a href="job-detail.html">Job detail</a></li>
                    <li><a href="job-apply.html">Apply for job</a></li>
                    <li><a href="job-add.html">Post a job</a></li>
                    <li><a href="job-manage.html">Manage jobs</a></li>
                    <li><a href="job-candidates.html">Candidates</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Resume</a>
                <ul>
                    <li><a href="resume-list.html">Browse resumes</a></li>
                    <li><a href="resume-detail.html">Resume detail</a></li>
                    <li><a href="resume-add.html">Create a resume</a></li>
                    <li><a href="resume-manage.html">Manage resumes</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Company</a>
                <ul>
                    <li><a href="company-list.html">Browse companies</a></li>
                    <li><a href="company-detail.html">Company detail</a></li>
                    <li><a href="company-add.html">Create a company</a></li>
                    <li><a href="company-manage.html">Manage companies</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Pages</a>
                <ul>
                    <li><a href="page-blog.html">Blog</a></li>
                    <li><a href="page-post.html">Blog-post</a></li>
                    <li><a href="page-about.html">About</a></li>
                    <li><a href="page-contact.html">Contact</a></li>
                    <li><a href="page-faq.html">FAQ</a></li>
                    <li><a href="page-pricing.html">Pricing</a></li>
                    <li><a href="page-typography.html">Typography</a></li>
                    <li><a href="page-ui-elements.html">UI elements</a></li>
                </ul>
            </li>
        </ul>
        <!-- END Navigation menu -->

    </div>
</nav>
<!-- END Navigation bar -->


<!-- Page header -->
<header class="page-header bg-img" style="background-image: url(../assets/img/bg-banner1.jpg);">
    <div class="container page-name">
        <h1 class="text-center">Browse jobs</h1>
        <p class="lead text-center">Use following search box to find jobs that fits you better</p>
    </div>

    <div class="container">
        <form action="#">

            <div class="row">
                <div class="form-group col-xs-12 col-sm-4">
                    <input type="text" class="form-control" placeholder="Keyword: job title, skills, or company">
                </div>

                <div class="form-group col-xs-12 col-sm-4">
                    <input type="text" class="form-control" placeholder="Location: city, state or zip">
                </div>

                <div class="form-group col-xs-12 col-sm-4">
                    <select class="form-control selectpicker" multiple>
                        <option selected>All categories</option>
                        <option>Developer</option>
                        <option>Designer</option>
                        <option>Customer service</option>
                        <option>Finance</option>
                        <option>Healthcare</option>
                        <option>Sale</option>
                        <option>Marketing</option>
                        <option>Information technology</option>
                        <option>Others</option>
                    </select>
                </div>


                <div class="form-group col-xs-12 col-sm-4">
                    <h6>Contract</h6>
                    <div class="checkall-group">
                        <div class="checkbox">
                            <input type="checkbox" id="contract1" name="contract" checked>
                            <label for="contract1">All types</label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="contract2" name="contract">
                            <label for="contract2">Full-time <small>(354)</small></label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="contract3" name="contract">
                            <label for="contract3">Part-time <small>(284)</small></label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="contract4" name="contract">
                            <label for="contract4">Internship <small>(169)</small></label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="contract5" name="contract">
                            <label for="contract5">Freelance <small>(480)</small></label>
                        </div>
                    </div>
                </div>


                <div class="form-group col-xs-12 col-sm-4">
                    <h6>Hourly rate</h6>
                    <div class="checkall-group">
                        <div class="checkbox">
                            <input type="checkbox" id="rate1" name="rate" checked>
                            <label for="rate1">All rates</label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="rate2" name="rate">
                            <label for="rate2">$0 - $50 <small>(364)</small></label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="rate3" name="rate">
                            <label for="rate3">$50 - $100 <small>(684)</small></label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="rate4" name="rate">
                            <label for="rate4">$100 - $200 <small>(195)</small></label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="rate5" name="rate">
                            <label for="rate5">$200+ <small>(39)</small></label>
                        </div>
                    </div>
                </div>


                <div class="form-group col-xs-12 col-sm-4">
                    <h6>Academic degree</h6>
                    <div class="checkall-group">
                        <div class="checkbox">
                            <input type="checkbox" id="degree1" name="degree" checked>
                            <label for="degree1">All degrees</label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="degree2" name="degree">
                            <label for="degree2">Associate degree <small>(216)</small></label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="degree3" name="degree">
                            <label for="degree3">Bachelor's degree <small>(569)</small></label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="degree4" name="degree">
                            <label for="degree4">Master's degree <small>(439)</small></label>
                        </div>

                        <div class="checkbox">
                            <input type="checkbox" id="degree5" name="degree">
                            <label for="degree5">Doctoral degree <small>(84)</small></label>
                        </div>
                    </div>
                </div>

            </div>

            <div class="button-group">
                <div class="action-buttons">
                    <button class="btn btn-primary">Apply filter</button>
                </div>
            </div>

        </form>

    </div>

</header>
<!-- END Page header -->


<!-- Main container -->
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <br>
                    <h5>We found <strong>357</strong> matches, you're watching <i>10</i> to <i>20</i></h5>
                </div>

                <!-- Job item -->
                <div class="col-xs-12">
                    <a class="item-block" href="job-detail.html">
                        <header>
                            <img src="../assets/img/logo-google.jpg" alt="">
                            <div class="hgroup">
                                <h4>Senior front-end developer</h4>
                                <h5>Google <span class="label label-success">Full-time</span></h5>
                            </div>
                            <time datetime="2016-03-10 20:00">34 min ago</time>
                        </header>

                        <div class="item-body">
                            <p>A rapidly growing, well established marketing firm is looking for an experienced web developer for a full-time position. In this role, you will develop websites, apps, emails and other forms of digital electronic media, all while maintaining brand standards across design projects and other marketing communication materials.</p>
                        </div>

                        <footer>
                            <ul class="details cols-3">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>Menlo Park, CA</span>
                                </li>

                                <li>
                                    <i class="fa fa-money"></i>
                                    <span>$90,000 - $110,000 / year</span>
                                </li>

                                <li>
                                    <i class="fa fa-certificate"></i>
                                    <span>Master or Bachelor</span>
                                </li>
                            </ul>
                        </footer>
                    </a>
                </div>
                <!-- END Job item -->


                <!-- Job item -->
                <div class="col-xs-12">
                    <a class="item-block" href="job-detail.html">
                        <header>
                            <img src="../assets/img/logo-linkedin.png" alt="">
                            <div class="hgroup">
                                <h4>Software Engineer (Entry or Senior)</h4>
                                <h5>Linkedin <span class="label label-warning">Part-time</span></h5>
                            </div>
                            <time datetime="2016-03-10 20:00">8 hours ago</time>
                        </header>

                        <div class="item-body">
                            <p>The Special Programs Department II is seeking to hire a Computer Scientist to augment our software development team. Members of the software development team are expected to follow established software engineering principles to methodically deliver mission application software.</p>
                        </div>

                        <footer>
                            <ul class="details cols-3">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>Livermore, CA</span>
                                </li>

                                <li>
                                    <i class="fa fa-money"></i>
                                    <span>$60,000 - $75,000 / year</span>
                                </li>

                                <li>
                                    <i class="fa fa-certificate"></i>
                                    <span>Master or Bachelor</span>
                                </li>
                            </ul>
                        </footer>
                    </a>
                </div>
                <!-- END Job item -->


                <!-- Job item -->
                <div class="col-xs-12">
                    <a class="item-block" href="job-detail.html">
                        <header>
                            <img src="../assets/img/logo-envato.png" alt="">
                            <div class="hgroup">
                                <h4>Full Stack Web Developer</h4>
                                <h5>Envato <span class="label label-info">Freelance</span></h5>
                            </div>
                            <time datetime="2016-03-10 20:00">2 days ago</time>
                        </header>

                        <div class="item-body">
                            <p>We're seeing a driven, curious, passionate full-stack web developer to help change how people learn creative skills and effortlessly create the images they imagine. You’ll be part of a new rapid prototyping and development team helping to apply lean startup development methodologies and modern web technologies to shape the future of Creative Cloud.</p>
                        </div>

                        <footer>
                            <ul class="details cols-3">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>San Francisco, CA</span>
                                </li>

                                <li>
                                    <i class="fa fa-money"></i>
                                    <span>$105,000 / year</span>
                                </li>

                                <li>
                                    <i class="fa fa-certificate"></i>
                                    <span>Master</span>
                                </li>
                            </ul>
                        </footer>
                    </a>
                </div>
                <!-- END Job item -->


                <!-- Job item -->
                <div class="col-xs-12">
                    <a class="item-block" href="job-detail.html">
                        <header>
                            <img src="../assets/img/logo-facebook.png" alt="">
                            <div class="hgroup">
                                <h4>Web Applications Developer</h4>
                                <h5>Facebook <span class="label label-danger">Internship</span></h5>
                            </div>
                            <time datetime="2016-03-10 20:00">Feb 26, 2016</time>
                        </header>

                        <div class="item-body">
                            <p>Client needs a back-end Java developer who has worked mainly on Java, J2EE, Spring, Web Services, and other Java related technologies.</p>
                        </div>

                        <footer>
                            <ul class="details cols-3">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>Lexington, MA</span>
                                </li>

                                <li>
                                    <i class="fa fa-money"></i>
                                    <span>$130,000 - $150,000 / year</span>
                                </li>

                                <li>
                                    <i class="fa fa-certificate"></i>
                                    <span>Ph.D. or Master</span>
                                </li>
                            </ul>
                        </footer>
                    </a>
                </div>
                <!-- END Job item -->


                <!-- Job item -->
                <div class="col-xs-12">
                    <a class="item-block" href="job-detail.html">
                        <header>
                            <img src="../assets/img/logo-microsoft.jpg" alt="">
                            <div class="hgroup">
                                <h4>Sr. SQL Server Developer</h4>
                                <h5>Microsoft <span class="label label-success">Remote</span></h5>
                            </div>
                            <time datetime="2016-03-10 20:00">Feb 16, 2016</time>
                        </header>

                        <div class="item-body">
                            <p>Understand and model complex business requirements into database schemas and work with existing databases in SQL and NOSQL data stores. Develop high performance stored procedures, triggers and other database level code to provide data services to other teams.</p>
                        </div>

                        <footer>
                            <ul class="details cols-3">
                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <span>Palo Alto, CA</span>
                                </li>

                                <li>
                                    <i class="fa fa-money"></i>
                                    <span>$125,000 - $140,000 / year</span>
                                </li>

                                <li>
                                    <i class="fa fa-certificate"></i>
                                    <span>Ph.D. or Master</span>
                                </li>
                            </ul>
                        </footer>
                    </a>
                </div>
                <!-- END Job item -->

            </div>


            <!-- Page navigation -->
            <nav class="text-center">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <i class="ti-angle-left"></i>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <i class="ti-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- END Page navigation -->

        </div>
    </section>
</main>
<!-- END Main container -->


<!-- Site footer -->
<footer class="site-footer">

    <!-- Top section -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">An employment website is a web site that deals specifically with employment or careers. Many employment websites are designed to allow employers to post job requirements for a position to be filled and are commonly known as job boards. Other employment sites offer employer reviews, career and job-search advice, and describe different job descriptions or employers. Through a job website a prospective employee can locate and fill out a job application.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Company</h6>
                <ul class="footer-links">
                    <li><a href="page-about.html">About us</a></li>
                    <li><a href="page-typography.html">How it works</a></li>
                    <li><a href="page-faq.html">Help center</a></li>
                    <li><a href="page-typography.html">Privacy policy</a></li>
                    <li><a href="page-contact.html">Contact us</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Trendeing jobs</h6>
                <ul class="footer-links">
                    <li><a href="job-list.html">Front-end developer</a></li>
                    <li><a href="job-list.html">Android developer</a></li>
                    <li><a href="job-list.html">iOS developer</a></li>
                    <li><a href="job-list.html">Full stack developer</a></li>
                    <li><a href="job-list.html">Project administrator</a></li>
                </ul>
            </div>
        </div>

        <hr>
    </div>
    <!-- END Top section -->

    <!-- Bottom section -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyrights &copy; 2016 All Rights Reserved by <a href="http://themeforest.net/user/shamsoft">ShaMSofT</a>.</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END Bottom section -->

</footer>
<!-- END Site footer -->


<!-- Back to top button -->
<a id="scroll-up" href="#"><i class="ti-angle-up"></i></a>
<!-- END Back to top button -->

<!-- Scripts -->
<script src="../assets/js/app.min.js"></script>
<script src="../assets/js/thejobs.js"></script>
<script src="../assets/js/custom.js"></script>
