<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="course">
            <h2><span jhiTranslate="jobAngularApp.course.detail.title">Course</span> {{course.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jobAngularApp.course.name">Name</span></dt>
                <dd>
                    <span>{{course.name}}</span>
                </dd>
                <dt><span jhiTranslate="jobAngularApp.course.number">Number</span></dt>
                <dd>
                    <span>{{course.number}}</span>
                </dd>
                <dt><span jhiTranslate="jobAngularApp.course.associateWith">Associate With</span></dt>
                <dd>
                    <span>{{course.associateWith}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/course-my-suffix', course.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
